/* Color Palette */ /*
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%) 
- Red (input errors): hsl(0, 100%, 66%)
*/

@font-face {
  font-family: "Space Grotesk Reg";
  src: url("./fonts/SpaceGrotesk-Regular.woff2");
}

@font-face {
  font-family: "Space Grotesk Med";
  src: url("./fonts/SpaceGrotesk-Medium.woff2");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk Reg";
  color: hsl(278, 68%, 11%);
  font-size: 18px;
}

input,
button {
  font-family: "Space Grotesk Reg";
}

label {
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-top {
  width: 100%;
}

.main-left__background {
  display: none;
}

.main-top__background {
  width: 100%;
  z-index: -1;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

.card-front {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 35%;
  top: 32%;
  transform: translate(-35%, -32%);
  z-index: 1;
  width: 18.75rem;
}

.card-info {
  z-index: 2;
  position: absolute;
  color: white;
}

.copied-number {
  left: 2rem;
  bottom: 4rem;
  font-size: 1.125rem;
}

.card-front__bottom {
  display: flex;
}

.copied-name {
  bottom: 0;
  left: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.copied-expiration {
  bottom: 0;
  right: 2rem;
  font-size: 1rem;
}

.card-back {
  position: absolute;
  display: block;
  left: 58%;
  top: 10%;
  transform: translate(-55%, -10%);
  width: 18.75rem;
}

.card-back__img {
  width: 100%;
}

.copied-CVC {
  position: absolute;
  color: white;
  bottom: 8.5vh;
  right: 9vw;
  font-size: 1rem;
}

.main-right {
  width: 20rem;
}

.main-bottom {
  padding-top: 15vh;
}

label {
  font-family: "Space Grotesk Med";
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: solid 1px hsl(270, 3%, 87%);
}

.form-top {
  display: flex;
  flex-direction: column;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
}

.form-bottom__EXP {
  display: flex;
  flex-direction: column;
}

.form-bottom__inputs {
  display: flex;
}

.form-bottom__CVC {
  display: flex;
  flex-direction: column;
}

.card-expiration {
  width: 2.5rem;
  margin-right: 0.5rem;
}

.form-button {
  background-color: hsl(278, 68%, 11%);
  border: none;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 0;
  font-size: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .main-top {
    width: 25%;
  }

  .main-top__background {
    display: none;
  }

  .main-left__background {
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    height: 120%;
  }

  .card-front {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    width: 23rem;
    left: 15%;
    transform: none;
  }

  .copied-number {
    font-size: 1.5rem;
  }

  .copied-name,
  .copied-expiration,
  .copied-CVC {
    font-size: 18px;
  }

  .card-back {
    position: relative;
    left: 8rem;
    top: 2rem;
    width: 23rem;
    transform: none;
  }
  .copied-CVC {
    position: absolute;
    color: white;
    bottom: 5.125rem;
    right: 3.5rem;
    font-size: 1rem;
  }
}
