@media screen and (min-width: 800px) {
}

body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  display: block;
}

.nav-highlight {
  text-align: center;
  padding: 0.5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar__left {
  display: none;
}
@media screen and (min-width: 800px) {
  .nav-bar__left {
    display: flex;
    justify-content: space-between;
  }
}

.nav-bar__right {
  display: flex;
  justify-content: space-between;
}

.hero {
}

.hero-left {
}

.hero-right__img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main-1 h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.main-1__group {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.main-1__group-icon {
  width: 4rem;
  height: 4rem;
}

.main-1__group h4 {
  margin: 0.5rem 0;
}

.main-1__group p {
  margin: 0;
  text-align: center;
}
