@media screen and (min-width: 800px) {
}
/* Color Palette */
/* dark blue: #579BB1 */
/* blue: #9CB4CC*/
/* pink: #F2D7D9 */
/* purpleish-grey: #D3CEDF */

@font-face {
  font-family: Avenir Reg;
  src: url("./assets/fonts/AvenirNextLTPro-Regular.woff2");
}
@font-face {
  font-family: Avenir Demi;
  src: url("./assets/fonts/AvenirNextLTPro-Demi.woff2");
}
@font-face {
  font-family: Avenir Bold;
  src: url("./assets/fonts/AvenirNextLTPro-Bold.woff2");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir Reg;
}
button {
  font-family: Avenir Reg;
}

h1,
h2,
h3,
h4 {
  font-family: Avenir Demi;
}

ul {
  padding: 0;
}

li {
  display: block;
}

.time-footer {
  text-align: center;
}

/* Nav Bar styling */
.nav-highlight {
  text-align: center;
  padding: 0.5rem;
  background: #579bb1;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: #f2d7d9;
  color: #579bb1;
  padding: 0 0.25rem;
}

.nav-bar__left {
  display: none;
}

.nav-bar__middle {
  font-family: Avenir Demi;
}

.nav-bar__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__right li {
  padding-left: 0.75rem;
}
.nav-bar__right li button {
  background: #579bb1;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Hero styling */
.hero {
  background: #f2d7d9;
}

.hero-left {
  color: #579bb1;
  padding: 0 0.25rem;
}

.hero-left h2 {
  margin: 0;
}

.hero-right {
  height: 25rem;
}

.hero-right__img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

/* Main 1 styling */
.main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main-1 h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.main-1__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.main-1__group-icon {
  width: 4rem;
  height: 4rem;
}

.main-1__group h4 {
  margin: 0.5rem 0;
}

.main-1__group p {
  margin: 0;
  text-align: center;
  width: 70%;
}

/* Main 2 styling */
.main-2__left {
  height: 25rem;
}

.main-2__left img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: 50% 0%;
}

.main-2__right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.main-2__right h3 {
  margin: 2rem 0;
  font-size: 2em;
}

.main-2__right ul {
  width: 90%;
  margin: 0;
}

.main-2__right li {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.main-2__right__title {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.25rem;
}

.main-2__right__list-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

/* BreakPoint Styling */

@media screen and (min-width: 800px) {
  /* Nav Bar styling */
  .nav-bar {
    padding: 2rem 1rem;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .nav-bar__left {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
  }
  .nav-bar__left li {
    padding-right: 0.75rem;
  }
  .nav-bar__middle {
    align-self: center;
    font-size: 3rem;
    margin: 0;
  }

  .nav-bar__right {
    position: absolute;
    right: 1rem;
  }

  .nav-bar__right li button {
    padding: 1.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  /* Main 1 styling */
  .main-1__bottom {
    display: flex;
    flex-direction: row;
  }

  .main-1 h3 {
    font-size: 3rem;
  }

  /* Main 2 styling */
  .main-2 {
    display: flex;
    padding: 1rem;
  }

  .main-2__left {
    width: 100%;
  }

  .main-2__left img {
    width: 100%;
    height: 115%;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 0.5rem;
  }

  .main-2__right {
    align-items: flex-start;
    padding-left: 3rem;
  }

  .main-2__right h3 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
  }
}
